* {
    font-family: 'Work Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    --secondary-color: #4EC5F7;
    --title-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --light-text: #FFFFFF;
    --gray-text: #534C64;
    --dark-text:#0B0223;
    --nav-text: #3C354F;
}
/*Global Design Strat*/
.gradient-text{
    background: var(--title-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-text {
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-width {
    max-width: 1000px;
    margin: 0 auto;
}
.section-title {
    color: var(--dark-text);
    font-size: 40px;
    font-weight: 700;
    margin: 5px;
}
.section-text {
    color: var(--gray-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.primary-btn {
    padding: 15px 40px;
    border-radius: 48px;
    background: var(--primary-color);
    color: var(--light-text);
    font-size: 18px;
    font-weight: 600;
    border: 0;
}
.secondary-btn {
    padding: 15px 40px;
    border-radius: 48px;
    background: var(--secondary-color);
    color: var(--light-text);
    font-size: 18px;
    font-weight: 600;
    border: 0;
}
/*Global Design End*/

/*Navigation Design*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}
.logo img {
    width: 60px;
    height: 30px;
    object-fit: cover;
}
.logo h3 {
    font-size: 40px;
}
.menu ul,
.menu-btn ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu  li {
    list-style: none;
    margin-right: 25px;
}
.menu  li:last-child {
    margin-right: 0px;
}
.menu li a{
    text-decoration: none;
}
.menu-btn ul {
    padding: 0;
}
.menu-btn{
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;

}
.menu li .section-text {
    color: var(--nav-text);
    font-weight: 500;
}
.menu-btn li:nth-child(2) a{
    color: #F61C0D;
}

/*Banner Section Design*/
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/Group-14.png);
    background-color: #fff;
    background-size: 50%;
    background-repeat: no-repeat;
}
.banner-title {
    font-size: 80px;
    font-weight: 800;
    margin: 5px;
}
.banner-content > .section-title{
    font-weight: 600;
}
.banner-img img{
    width: 500px;
}
.banner-content > .section-text {
    margin: 5px;
}
.banner-list ul {
    padding: 0;
}
.banner-list li {
    list-style: none;
}
.banner-btn {
    display: flex;
    margin-top: 40px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

/*Purpose Section Design*/
.purpose {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 30px 20px;
}
.purpose-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.purpose-img > img {
    max-width: 550px;
}
.purpose-content {
    text-align: right;
}
.purpose-content> .section-text > small {
    font-size: 18px;
    font-weight: 500;
}
.purpose-content> .section-text > em {
    font-size: 20px;
    font-weight: 700;
}
/*Game Section Design*/
.game {
    margin-top: 100px;
}
.game-content {
    text-align: center;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}
.card-img {
    position: relative;
    max-width: 300px;
    height: 275px;
    border: 3px solid transparent;
    border-radius: 15px;
    cursor: pointer;
}
.card-img:hover {
    border: 3px solid #FF42A5;
}
.card-img:hover .card-overlay{
    display: flex;
}
.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.card-overlay {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}
.card-overlay i {
    font-size: 40px;
    color: var(--light-text);
}
.card-overlay .card-text{
    font-size: 18px;
    color: #FF42A5;
    font-weight: 600;
}
.card > .section-text {
    font-size: .90rem;
    line-height: 20px;
}














/*Mobile Responsive Design*/
@media screen and (max-width:426px) {
    nav,
    .purpose-container {
        flex-direction: column;
    }
    .menu > ul {
        flex-direction: column;
        gap: 15px;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .section-text,
    .purpose-content> .section-text > small,
    .purpose-content> .section-text > em {
        font-size: 0.85rem;
        line-height: 20px;
    }
    .banner {
        margin-top: 50px;
        padding-bottom: 20px;
        flex-direction: column-reverse;
        background-position: bottom;
        background-size: 100%;
        gap: 40px;
    }
    nav ul {
        padding: 0;
    }
    .logo img {
        width: 50px;
        height: auto;
    }
    .logo h3 {
        font-size: 35px;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img img {
        width: 300px;
    }
    .banner-content > .section-title,
    .banner-content > .banner-title,
    .purpose-content {
        text-align: center;
    }
    .banner-title {
        font-size: 3.7rem;
    }
    .banner-list > ul{
        padding-left: 40px;
    }
    .primary-btn,
    .secondary-btn {
        padding: 10px 20px;
        border-radius: 48px;
        font-size: .85rem;
    }
    .purpose, .game {
        background: #FFF;
        margin-top: 20px;
    }
    .purpose-img > img {
        max-width: 100%;
    }
    .game-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .card-img {
        max-width: 300px;
        height: 350px;
        margin: 0 auto;
    }
    .card {
        max-width: 320px;
        margin: 0 auto;
        padding: 10px;
    }
}




/*Tablet Responsive Design*/
@media screen and (min-width: 426px) and (max-width:768px) {
    nav,
    .purpose-container {
        flex-direction: column;
    }
    nav ul {
        padding: 0;
    }
    .logo img {
        height: auto;
    }
    .banner {
        margin-top: 50px;
        padding-bottom: 20px;
        flex-direction: column-reverse;
        background-position: bottom;
        background-size: 75%;
        gap: 100px;
    }
    .purpose {
        background: #fff;
    }
    .purpose-content {
        text-align: center;
    }
    .game-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
    .card-img {
        max-width: 300px;
        height: 350px;
    }
    .card {
        max-width: 320px;
        margin: 0 auto;
        padding: 10px;
    }
    
}